branches/Demo/UDA-HTA/IntegrationHC/Web References/DatosPacienteCI/WebSrvDatosPersonaCda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="kb2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlns="kb2" xmlns:tns1="kb2" name="WebSrvDatosPersonaCda" targetNamespace="kb2" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified" targetNamespace="kb2">
      <xsd:complexType name="DatPersonaCda">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DatPersonaCda.DatPersonaCdaItem" type="tns1:DatPersonaCda.DatPersonaCdaItem" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DatPersonaCda.DatPersonaCdaItem">
        <xsd:all>
          <xsd:element name="DatPersonaCedNum" type="xsd:int" />
          <xsd:element name="DatPersonaVerNum" type="xsd:byte" />
          <xsd:element name="DatPersonaRazCod" type="xsd:byte" />
          <xsd:element name="DatPersonaPrimerNombre" type="xsd:string" />
          <xsd:element name="DatPersonaSegundoNombre" type="xsd:string" />
          <xsd:element name="DatPersonaPrimerApellido" type="xsd:string" />
          <xsd:element name="DatPersonaSegundoApellido" type="xsd:string" />
          <xsd:element name="DatPersonaFchNac" type="xsd:date" />
          <xsd:element name="DatPersonaSexo" type="xsd:string" />
          <xsd:element name="DatPersonaRaza" type="xsd:string" />
          <xsd:element name="DatPersonaNacion" type="xsd:string" />
          <xsd:element name="DatPersonaRegNum" type="xsd:int" />
          <xsd:element name="DatPersonaTelefono" type="xsd:string" />
          <xsd:element name="DatPersonaDomicilio" type="xsd:string" />
          <xsd:element name="DatPersonalLocalidad" type="xsd:string" />
          <xsd:element name="DatPersonaDepto" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="WebSrvDatosPersonaCda.Execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Persona" type="tns1:DatPersonaCda" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Paccednum" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Pacvernum" type="xsd:byte" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WebSrvDatosPersonaCda.ExecuteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Persona" type="tns1:DatPersonaCda" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Paccednum" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Pacvernum" type="xsd:byte" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="WebSrvDatosPersonaCda.ExecuteSoapIn">
    <part name="parameters" element="tns1:WebSrvDatosPersonaCda.Execute" />
  </message>
  <message name="WebSrvDatosPersonaCda.ExecuteSoapOut">
    <part name="parameters" element="tns1:WebSrvDatosPersonaCda.ExecuteResponse" />
  </message>
  <portType name="WebSrvDatosPersonaCdaSoapPort">
    <operation name="Execute">
      <input message="tns1:WebSrvDatosPersonaCda.ExecuteSoapIn" />
      <output message="tns1:WebSrvDatosPersonaCda.ExecuteSoapOut" />
    </operation>
  </portType>
  <binding name="WebSrvDatosPersonaCdaSoapBinding" type="tns1:WebSrvDatosPersonaCdaSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Execute">
      <soap:operation soapAction="kb2action/AWEBSRVDATOSPERSONACDA.Execute" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WebSrvDatosPersonaCda">
    <port name="WebSrvDatosPersonaCdaSoapPort" binding="tns1:WebSrvDatosPersonaCdaSoapBinding">
      <soap:address location="http://gestiondesa.hc:8080/IndicePacientes/servlet/awebsrvdatospersonacda" />
    </port>
  </service>
</definitions>